@page
@model LoginModel

@{
    Layout = null;
    ViewData["Title"] = "Đăng Nhập";
}

<html lang="en">
<head>
    @{
        await Html.RenderPartialAsync("_Meta");
        <title>@ViewData["Title"]</title>
        await Html.RenderPartialAsync("_Style");
    }

</head>
<body class="body-background">

    <div class="main-wrapper login-body">
        <div class="login-wrapper">
            <div class="container">
                <section class="w-100 p-4 d-flex justify-content-center pb-4 ">
                    <form id ="account" method="post" class="position-relative">
						<div class="text-center">
							<img src="~/img/logo.png"
							  style="width: 200px;" alt="logo">
							<p class="mt-1 mb-3 pb-1">Sử dụng mail UEF để đăng nhập</p>
						  </div>
						<!-- Email input -->
                        <div class="form-outline form-group">
                            <input type="email" asp-for="Input.Email" class="form-control bg-white" id="formEmail" autocomplete="username" aria-required="true" />
                            <label class="form-label" for="formEmail">Email / Mã số sinh viên</label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
						</div>
					  
						<!-- Password input -->
                        <div class="form-outline form-group">
                            <input type="password" asp-for="Input.Password" class="form-control bg-white" id="formPassword" autocomplete="current-password" aria-required="true" />
                            <label class="form-label text-red" for="formPassword">Mật khẩu</label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
						</div>
					  
						<!-- 2 column grid layout for inline styling -->
                        <div class="row form-group">
						    <div class="col d-flex justify-content-center">
						    <!-- Checkbox -->
						    <div class="form-check">
                                    <label asp-for="Input.RememberMe" class="form-label">
                                    <input class="form-check-input" asp-for="Input.RememberMe"/>
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
						    </div>
						    </div>
					  
						    <div class="col">
						        <!-- Simple link -->
                                <a href="forgot-password.html">Forgot Password?</a>
						    </div>
						</div>
					  
						<!-- Submit button -->
                        <button id="login-submit" type="submit" class="btn btn-primary btn-block mb-3">Sign in</button>
                    </form>
						<!-- Register buttons -->
						<div class="text-center">
                            <p class="mb-1">or sign up with:</p>
                            <div class="social-login">
                                @{
                                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                                    {
                                        <div>
                                            <span>Hệ thống Đăng Nhập Bằng Google Đang Bảo Trì</span>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="social-login">
                                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                                <div>
                                                    <p>
                                                        @{
                                                            if (Model.ExternalLogins is not null)
                                                            {
                                                                @foreach (var provider in Model.ExternalLogins)
                                                                {
                                                                    <button type="submit" class="btn btn-link btn-floating google mx-1" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="fab fa-google" style="font-size: 20px;"></i></button>
                                                                }
                                                            }
                                                        }

                                                    </p>
                                                </div>
                                            </form>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                </section>
            </div>
        </div>
    </div>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>
</html>
