@model QuanLyKhoaCNTTUEF.Models.SuKien

@{
    ViewData["Title"] = "Quản Lý Sự Kiện - Chi tiết Sự Kiện ";
    IEnumerable<Nhom>? Group = ViewData["Group"] as IEnumerable<Nhom>;
}

<h1>Details</h1>

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <div class="mt-5">
                        <h4 class="card-title float-left mt-2">@ViewData["Title"] @Html.DisplayFor(model => model.TenSuKien)</h4>
                        <a asp-action="Index" class="btn btn-primary float-right veiwbutton">Quay về</a>
                    </div>
                </div>
            </div>
        </div>
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.TenSuKien)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.TenSuKien)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.NgayBD)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.NgayBD)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.NgayKT)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.NgayKT)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.MoTa)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.MoTa)
                
            </dd>
            
        </dl>  
        <div class="row">
            <div class="col-md-12">
                <div class="profile-menu">
                    <ul class="nav nav-tabs nav-tabs-solid">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#List_Group_Tab">Danh Sách Nhóm</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#List_Task_Tab">Danh Sách Task</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#per_details_tab">Danh Sách</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content profile-tab-cont">
                    <div class="tab-pane fade active show" id="List_Group_Tab">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card card-table">
                                    <div class="card-header">
                                        <h4 class="card-title">Danh Sách Nhóm Sự Kiện @Html.DisplayFor(model => model.TenSuKien)</h4>
                                    </div>
                                    <div class="card-body booking_card">
                                        <div class="table-responsive">
                                            <table class="datatable table table-stripped table table-hover table-bordered table-center mb-0">
                                                <thead>
                                                    <tr>
                                                        <th>Thứ tự</th>
                                                        <th>
                                                            @{
                                                                if (Group is not null)
                                                                {
                                                                    var item = Group.FirstOrDefault();

                                                                    if (item is not null)
                                                                    {
                                                                        @Html.DisplayNameFor(model => item.TenNhom)
                                                                    }
                                                                }
                                                            }
                                                        </th>
                                                        <th>
                                                            @{
                                                                if (Group is not null)
                                                                {
                                                                    var item = Group.FirstOrDefault();

                                                                    if (item is not null)
                                                                    {
                                                                        @Html.DisplayNameFor(model => item.NgayTao)
                                                                    }
                                                                }
                                                            }
                                                        </th>
                                                        <th>Trạng Thái</th>
                                                        <th class="text-right">Chức Năng</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{
                                                        var index = 0;
                                                        if (Group is not null)
                                                        {
                                                            foreach (Nhom item in Group)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        @{
                                                                            @index
                                                                            ;
                                                                            index++;
                                                                        }
                                                                    </td>
                                                                    <td>@item.TenNhom</td>
                                                                    <td>@item.NgayTao</td>
                                                                    <td>
                                                                        <div class="actions">
                                                                            <a href="#" class="btn btn-sm bg-success-light mr-2">
                                                                                Active
                                                                            </a>
                                                                        </div>
                                                                    </td>
                                                                    <td class="text-right">
                                                                        <div class="dropdown dropdown-action">
                                                                            <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v ellipse_color"></i></a>
                                                                            <div class="dropdown-menu dropdown-menu-right">
                                                                                <a class="dropdown-item" asp-controller="Nhoms" asp-action="Edit" asp-route-id="@item.IDNhom"><i class="fas fa-pencil-alt m-r-5"></i> Chỉnh sửa</a>
                                                                                <a class="dropdown-item" asp-controller="Nhoms" asp-action="Details" asp-route-id="@item.IDNhom"><i class="fas fa-pencil-alt m-r-5"></i> Chi tiết</a>
                                                                                <a class="dropdown-item" asp-controller="Nhoms" asp-action="Delete" asp-route-id="@item.IDNhom"><i class="fas fa-pencil-alt m-r-5"></i> Xóa</a>
                                                                            </div>
                                                                            <div id="delete_asset" class="modal fade delete-modal" role="dialog">
                                                                                <div class="modal-dialog modal-dialog-centered">
                                                                                    <div class="modal-content">
                                                                                        <div class="modal-body text-center">
                                                                                            <img src="~/img/sent.png" alt="" width="50" height="46">
                                                                                            <h3 class="delete_class">Chắc chắn xoá?</h3>
                                                                                            <div class="m-t-20">
                                                                                                <a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
                                                                                                <a asp-controller="Nhoms" asp-action="Delete" asp-route-id="@item.IDNhom" class="btn btn-danger">Delete</a>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>

                                                            }
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="List_Task_Tab" class="tab-pane fade">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Danh Sách Nhóm Sự Kiện @Html.DisplayNameFor(model => model.TenSuKien)</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="datatable table table-stripped table table-hover table-center mb-0">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            @{
                                                                if (Group is not null)
                                                                {
                                                                    var item = Group.FirstOrDefault();

                                                                    if (item is not null)
                                                                    {
                                                                        @Html.DisplayNameFor(model => item.TenNhom)
                                                                        ;
                                                                    }
                                                                }
                                                            }
                                                        </th>
                                                        <th>Trạng Thái</th>
                                                        <th class="text-right">Chức Năng</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{
                                                        if (Group is not null)
                                                        {
                                                            foreach (Nhom item in Group)
                                                            {
                                                                <tr>
                                                                    <td>@item.TenNhom</td>
                                                                    <td>
                                                                        <div class="actions">
                                                                            <a href="#" class="btn btn-sm bg-success-light mr-2">
                                                                                Active
                                                                            </a>
                                                                        </div>
                                                                    </td>
                                                                    <td class="text-right">
                                                                        <div class="dropdown dropdown-action">
                                                                            <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v ellipse_color"></i></a>
                                                                            <div class="dropdown-menu dropdown-menu-right">
                                                                                <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.IDNhom"><i class="fas fa-pencil-alt m-r-5"></i> Chỉnh sửa</a>
                                                                                <a class="dropdown-item" asp-action="Details" asp-route-id="@item.IDNhom"><i class="fas fa-pencil-alt m-r-5"></i> Chi tiết</a>
                                                                                <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.IDNhom"><i class="fas fa-pencil-alt m-r-5"></i> Xóa</a>
                                                                            </div>
                                                                            <div id="delete_asset" class="modal fade delete-modal" role="dialog">
                                                                                <div class="modal-dialog modal-dialog-centered">
                                                                                    <div class="modal-content">
                                                                                        <div class="modal-body text-center">
                                                                                            <img src="~/img/sent.png" alt="" width="50" height="46">
                                                                                            <h3 class="delete_class">Chắc chắn xoá?</h3>
                                                                                            <div class="m-t-20">
                                                                                                <a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
                                                                                                <a asp-action="Delete" asp-route-id="@item.IDNhom" class="btn btn-danger">Delete</a>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>

                                                            }
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
