@model QuanLyKhoaCNTTUEF.Models.Plan

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Plan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenKeHoach)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenKeHoach)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayTrinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayTrinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayDuyet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayDuyet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NguoiTrinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NguoiTrinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NguoiDuyet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NguoiDuyet)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IDKeHoach">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
