@model IEnumerable<QuanLyKhoaCNTTUEF.Models.Plan>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenKeHoach)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayTrinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayDuyet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NguoiTrinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NguoiDuyet)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenKeHoach)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayTrinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayDuyet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NguoiTrinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NguoiDuyet)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.IDKeHoach">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IDKeHoach">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IDKeHoach">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
