@model QuanLyKhoaCNTTUEF.Models.Tasks

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Task</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IDTask)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IDTask)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenTask)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenTask)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayBD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayBD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayKT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayKT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IDSuKien">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
