@model QuanLyKhoaCNTTUEF.Models.Tasks

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <div class="mt-5">
                        <nav aria-label="breadcrumb" class="float-left mt-2" style="font-size: 28px">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
                                <li class="breadcrumb-item"><a asp-action="Index">@ViewData["Title"]</a></li>
                                <li class="breadcrumb-item text-secondary active" aria-current="page">@Html.DisplayFor(model => model.TaskName)</li>
                            </ol>
                        </nav>
                        <a asp-action="Index" class="btn btn-primary float-right veiwbutton">Quay về</a>
                    </div>
                </div>
            </div>
        </div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TaskName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TaskName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StartTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StartTime)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EndTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EndTime)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Status)
            </dd>

        </dl>
    </div>
</div>
