@model QuanLyKhoaCNTTUEF.Models.SuKien

@{
    ViewData["Title"] = "Thêm sự kiện";
    Console.WriteLine(ViewData["IDSuKien"]);
}

<div class="page-wrapper" style="min-height: 941px;">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <div class="mt-5">
                        <h4 class="card-title float-left mt-2">@ViewData["Title"]</h4>
                        <a asp-action="Index" class="btn btn-primary float-right veiwbutton">Quay Về</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">

                <div class="card">

                    <div class="card-body">

                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="IDSuKien" class="control-label"></label>
                                <input asp-for="IDSuKien"  class="form-control" value="@ViewData["IDSuKien"]" readonly />
                                <span asp-validation-for="IDSuKien" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="TenSuKien" class="control-label"></label>
                                <input asp-for="TenSuKien" class="form-control" />
                                <span asp-validation-for="TenSuKien" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NgayBD" class="control-label"></label>
                                <input asp-for="NgayBD" class="form-control" />
                                <span asp-validation-for="NgayBD" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NgayKT" class="control-label"></label>
                                <input asp-for="NgayKT" class="form-control" />
                                <span asp-validation-for="NgayKT" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="MoTa" class="control-label"></label>
                                                <textarea asp-for="MoTa" class="form-control" placeholder="Nhập mô tả" cols="4" rows="4"> </textarea>
                                <span asp-validation-for="MoTa" class="text-danger"></span>
                            </div>
                            <input type="hidden" asp-for="IDNguoiCapNhat"  class="form-control" value="1"  />
                            <span type="hidden" asp-validation-for="IDNguoiCapNhat" class="text-danger"></span>
                            <input type="hidden" asp-for="IDNguoiTao" class="form-control" value="1" />
                            <span type="hidden" asp-validation-for="IDNguoiTao" class="text-danger"></span>
                            <input type="hidden" asp-for="IDNguoiXoa" class="form-control" value="1" />
                            <span type="hidden" asp-validation-for="IDNguoiXoa" class="text-danger"></span>
                            <input type="hidden" asp-for="NgayCapNhat" class="form-control" value="@DateTime.Now"/>
                            <span type="hidden" asp-validation-for="NgayCapNhat" class="text-danger"></span>
                            <input type="hidden" asp-for="NgayTao" class="form-control" value="@DateTime.Now" />
                            <span type="hidden" asp-validation-for="NgayTao" class="text-danger"></span>
                            <input type="hidden" asp-for="NgayXoa" class="form-control" value="@DateTime.Now" />
                            <span type="hidden" asp-validation-for="NgayXoa" class="text-danger"></span>
                            <input type="hidden" asp-for="XoaTam" class="form-control" value="1" />
                            <span type="hidden" asp-validation-for="XoaTam" class="text-danger"></span>
                            <input type="hidden" asp-for="TrangThai" class="form-control" value="1" />
                            <span type="hidden" asp-validation-for="TrangThai" class="text-danger"></span>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
