@model QuanLyKhoaCNTTUEF.Models.SuKien

@{
    ViewData["Title"] = "Sự Kiện - Xóa " + @Html.DisplayNameFor(model => model.IDSuKien);
}

<h1>Delete</h1>


<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            @{
                @ViewData["Title"]
            }
        </div>
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.TenSuKien)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.TenSuKien)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.NgayBD)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.NgayBD)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.NgayKT)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.NgayKT)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.MoTa)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.MoTa)
            </dd>
        </dl>
    
        <form asp-action="Delete">
            <input type="hidden" asp-for="IDSuKien" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
</div>
