@model IEnumerable<QuanLyKhoaCNTTUEF.Models.Nhom>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDSuKien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenNhom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayTao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayCapNhat)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDSuKien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenNhom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayCapNhat)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IDNhom">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IDNhom">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IDNhom">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
