@model IEnumerable<QuanLyKhoaCNTTUEF.Models.Event>
@{
    ViewData["Title"] = "DashboardTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ICollection<Group> groups = ViewBag.groups;
}
<div class="page-wrapper" style="min-height: 941px;">
    <div class="content container-fluid ">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <div class="mt-5">
                        <h3 class="card-title float-left mt-2">Quản lý nhóm</h3>
                        <ul class="breadcrumb float-right mt-3">
                            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
                            <li class="breadcrumb-item text-secondary">Quản Lý Nhóm</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <form method="get" action="Event">
                    <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4" style="border-radius: 15px!important; box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;">
                        <div class="input-group">
                            <input type="search" name="SearchString" placeholder="Nhập từ bạn cần tìm?" aria-describedby="button-addon1" class="form-control border-0 bg-light">
                            <div class="input-group-append">
                                <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        @{
            foreach (var eventID in Model)
            {
                if (groups is null)
                    groups = eventID.Groups!;
                if (groups.FirstOrDefault(g => g.EventID == eventID.EventID) != null)
                {
                    <div class="page-header pt-5">
                        <div class="row align-items-center">
                            <div class="col">
                                <div>
                                    <h4 class="card-title float-left mt-2">@eventID.EventName</h4>
                                    <a class="float-right btn bg-primary btn-outline-primary text-white me-2" role="button" href="">Xem Thêm</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        @{
                            foreach (var group in groups)
                            {
                                if(group.EventID == eventID.EventID)
                                {
                                    var target = "delete_asset" + group.GroupID;
                                    var GroupID = group.GroupID;
                                    <div class="col-xl-3 col-sm-6 col-12">
                                        <div class="card board1 fill" style="border-radius: 15px;">
                                            <div class="card-body">
                                                <div class="clearfix mb-2">
                                                    <label class="float-left font-weight-bold">ID Sự kiện:&ensp;</label>@group?.GroupID
                                                    <div class="float-right">
                                                        <div class="dropdown dropdown-action">
                                                            <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown"
                                               aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                                                            <div class="dropdown-menu dropdown-menu-right">
                                                                <a class="dropdown-item" asp-action="Edit" asp-route-id="@group!.GroupID">
                                                                    <i class="fas fa-pencil-alt m-r-5"></i> Edit
                                                                </a>
                                                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#@target">
                                                                    <i class="fas fa-trash-alt m-r-5">
                                                                    </i> Xoá
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div id="@target" class="modal fade delete-modal" role="dialog">
                                                            <div class="modal-dialog modal-dialog-centered">
                                                                <div class="modal-content">
                                                                    <div class="modal-body text-center">
                                                                        <img src="~/img/sent.png" alt="" width="50" height="46">
                                                                        <h3 class="delete_class">Chắc chắn xoá?</h3>
                                                                        <div class="m-t-20">
                                                                            <form asp-action="Delete" asp-route-id="@GroupID" method="post">
                                                                                <input type="hidden" name="__RequestVerificationToken" value="@Html.AntiForgeryToken()" />
                                                                                <div class="form-group">
                                                                                    <input type="submit" value="Delete" class="btn btn-danger" style="-webkit-text-fill-color: white;" id="delete-button" />
                                                                                    <a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h5 class="card-title text-cyan pb-2" style="text-align: left;">@group?.GroupName</h5>
                                                <div class="row">
                                                    <div class="col-sm-6 align-items-center">
                                                        <h6 class="card-text">Ngày tạo:</h6>
                                                    </div>
                                                    <p class="pl-4 col" style="margin-bottom: 0;">@group?.CreateDate.ToString("dd/MM/yyyy")</p>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6 align-items-center">
                                                        <h6 class="card-text">Ngày cập nhật:</h6>
                                                    </div>
                                                    <p class="pl-4 col" style="margin-bottom: 0;">@group?.UpdateDate.ToString("dd/MM/yyyy")</p>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6 align-items-center">
                                                        <h6 class="card-text">ID Nhóm:</h6>
                                                    </div>
                                                    <p class="pl-4 col">@group?.GroupID</p>
                                                </div>
                                                <div class="row">
                                                    <h6 class="card-text col-sm-3 align-items-center mtb-center">Mô tả: </h6>

                                                    <p class="text-truncate pl-1 col mtb-center" style="color: gray!important;">@group?.Description</p>
                                                </div>
                                                <div class="row align-items-center pt-3">
                                                    <div class="col col-sm-4">
                                                        <a asp-action="Details" asp-route-id="@group?.GroupID" class="text-cyan font-weight-bold">Chi tiết</a>
                                                    </div>
                                                    <div class="col col-sm-8 text-right">
                                                        <div class="avatar-group">
                                                            <div class="avatar avatar-sm " style="margin-right: 0.2rem; border: 0.2rem solid white;">
                                                                <div class="avatar-title rounded-circle " style="background-color: rgb(198, 202, 223);"><span style="color: blue;">+3</span></div>
                                                            </div>
                                                            @{
                                                                var usercount = 0;
                                                                foreach (var user in group!.MembersGroups!)
                                                                {
                                                                    if (usercount++ == 2)
                                                                        break;
                                                                    <div class="avatar avatar-sm" style="margin-right: 0.2rem; border: 0.2rem solid white;">
                                                                        <img src="@user.ApplicationUser!.UrlAvartar" />
                                                                    </div>
                                                                }
                                                            }
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    </div>
                }   
            }
        }
    </div>
</div>