@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Users";
}
@model ICollection<QuanLyKhoaCNTTUEF.Data.ApplicationUser>

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center pageheader-title">
                <div class="col-sm-12">
                    <div class="mt-5">
                        <div class="page-sub-header">
                            <h3 class="page-title float-left mt-2">@ViewData["Title"]</h3>
                            <ul class="breadcrumb float-right mt-3">
                                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
                                <li class="breadcrumb-item text-secondary">Quản Lý Sự Kiện</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">

                    <div class="card-body booking_card">
                        <div class="page-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h3 class="page-title">Students</h3>
                                </div>
                                <div class="col-auto text-end float-end ms-auto download-grp">
                                    <a asp-action="ExcelExport" class="btn bg-primary btn-outline-primary text-white me-2" role="button"><i class="fas fa-download"></i> Download</a>
                                    <a asp-action="Create" class="btn bg-primary text-white btn-lg me-2" role="button"><i class="fas fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            @if (@Model != null && @Model.Any())
                            {
                                <table class="datatable table table-stripped table table-hover table-center mb-0">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">First</th>
                                            <th scope="col">Last</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Edit</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    @foreach (var user in Model)
                                    {
                                        <tr>
                                            <th scope="row">@user.Id</th>
                                            <td>@user.FirstName</td>
                                            <td>@user.LastName</td>
                                            <td>@user.Email</td>
                                            <td>
                                                <a asp-controller="User" asp-action="Edit" asp-route-id="@user.Id">Edit</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                </table>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>