@model QuanLyKhoaCNTTUEF.Models.MembersGroups

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="content container-fluid">
            <div class="page-header">
                <div class="row align-items-center">
                    <div class="col">
                        <div class="mt-5">
                            <h4 class="card-title float-left mt-2">@ViewData["Title"] @Html.DisplayFor(model => model.ApplicationUser!.FullName)</h4>
                            <a asp-action="Index" asp-route-id="@Html.DisplayFor(model => model.GroupID)" class="btn btn-primary float-right veiwbutton">Quay về</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">

                    <div class="card">

                        <div class="card-body">
                            <form asp-action="Edit">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="MemberGroupID" />
                                <div class="form-group">
                                    <label asp-for="UserID" class="control-label"></label>
                                    <input value="@ViewBag.UserName" class="form-control" readonly />
                                    <input type="hidden" asp-for="UserID" class="form-control" value="@ViewBag.UserID" readonly/>
                                    <span asp-validation-for="UserID" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="GroupID" class="control-label"></label>
                                    <input value="@ViewBag.GroupName" class="form-control"  readonly />
                                    <input type="hidden" asp-for="GroupID" class="form-control" value="@ViewBag.GroupID" readonly />
                                    <span asp-validation-for="GroupID" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label  class="control-label"></label>
                                    <select class="form-control" name="TaskID" asp-items="@ViewBag.TaskList"></select>
                                    <span class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="RoleName" class="control-label"></label>
                                    <input asp-for="RoleName" class="form-control" />
                                    <span asp-validation-for="RoleName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Save" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
