@model QuanLyKhoaCNTTUEF.Models.Group

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Nhom</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenNhom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenNhom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayTao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayTao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayCapNhat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayCapNhat)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.GroupID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>


